<div class="assets-upload">
    <div class="row">
        <div class="col-sm-6">
            <form name="myForm" novalidate>


                <div ng-show="ownername==''">
                    <div class="form-group">
                        <label>Owner Name :</label>
                        <p>Enter a name that is visible for everybody to help identifiying the real owner of the document.</p>
                        <input class="form-control" id="owner-name" type="text" ng-required="ownername==''" ng-model="upload_asset.name"/>
                    </div>
                </div>

                <div ng-show="ownername!=''">
                    <h2>Owner: {{ownername}}</h2>
                </div>


                <div class="form-group">
                    <label>File for Hash upload (your file will NEVER be uploaded): </label>
                    <p>Select your file (can be anything: PDF, JPG, WordDocument....)</p>
                    <input type="file" class="form-control" ngf-select ng-model="picFile" name="file" ngf-max-size="2MB"
                           required ngf-model-invalid="errorFile">
                    <img ng-show="myForm.file.$valid && picFile.type=='image/jpeg'" ngf-thumbnail="picFile"
                         class="thumb">
                    <a ng-click="picFile = null" ng-show="picFile">Remove File</a>
                </div>

                <div class="form-group">
                    <label for="additional-message">Additional Message (optional): </label>
                    <p>(will be visible for everyone on the Blockchain)</p>
                    <textarea name="additional-message" class="form-control" id="additional-message" rows="1" ng-model="upload_asset.message"> </textarea>
                </div>
                <div class="form-group">
                    <button ng-disabled="!myForm.$valid || !hasOwner()" ng-click="uploadPic(picFile)"
                            class="btn btn-default">
                        Push you data to the Blockchain!
                    </button>
                </div>
            </form>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Your file will <strong>NEVER </strong>leave your PC (you can check the javascript of this page if
                        you want).</p>
                    <p>A unique number, the "hash" of your document will be calculated inside the browser. If your
                        document is modified (e.g. just a single bit is changed) the Hash will be different. The Hash is
                        unique for your document.</p>
                    <p>Only this Hash will be uploaded to the Blockchain - not the content of your document</p>
                    <p>You can add a free-text or your personal greeting. This text will be readable by everybody.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="assets-upload-info">
    <div class="row">
    
        <div class="col-sm-6">
            <div ng-if="status>0">
                <h3>Uploading Status</h3>                                                       
                <div class="panel_green ">
                    <div class="panel-body">
                        <h4>{{timer_count}}sec</h4>
                        <p><strong>{{status_text}}</strong></p>
                        <div ng-show="status===4">
                                <table>
                                    <tr ng-repeat="hash in hashes">
                                        <td>{{ hash.description}}</td>
                                        <td>{{ hash.create_date }}</td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div ng-if="status===4">
                <div class="panel panel-default">                                                                                           
                    <div class="panel-body">
                        <h3>It's now on the Blockchain.</h3>
                        <p>Check that your data is there via the Blockchain explorer.</p>
                        <p>Let’s assume you have done some research and created a white-paper as summary. Now you can
                            prove:</p>
                        <ul>
                            <li>That you are the owner of this document</li>
                            <li>When you have updated the document</li>
                            <li>That the document you are presenting is the original document and has not been
                                manipulated
                            </li>
                            <li>That nobody can read the document or access the content, until you want</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>