<div class="assets-upload">
    <div class="row">
        <div class="col-sm-6">
            <form name="myForm" novalidate>


                <div ng-show="ownername==''">
                    <div class="form-group">
                        <label>Certificate Issuer / Owner Name :</label>
                        <p>The "Certificate Issuer Name" (maybe the WebDomain you own) is used to link your Blockchain Identity with your REAL identity. It is uploaded to the Blockchain and public.</p>
                        <input class="form-control" id="owner-name" type="text" ng-required="ownername==''" ng-model="upload_asset.name"/>
                    </div>
                </div>

                <div ng-show="ownername!=''">
                    <h2>Certificate Owner: {{ownername}}</h2>
                </div>


                <div class="form-group">
                    <label>Certificate</label>
                    <p>The Certificate that was issued by you. The file can be anything: PDF, JPG, WordDocument. Only the Hash of the file will be uploaded!!!</p>
                    <input type="file" class="form-control" ngf-select ng-model="picFile" name="file" ngf-max-size="2MB"
                           required ngf-model-invalid="errorFile">
                    <img ng-show="myForm.file.$valid && picFile.type=='image/jpeg'" ngf-thumbnail="picFile"
                         class="thumb">
                    <a ng-click="picFile = null" ng-show="picFile">Remove File</a>
                </div>

                <div class="form-group">
                    <label for="additional-message">Additional Message or Type of Certificate (optional): </label>
                    <p>(will be visible for everyone on the Blockchain)</p>
                    <textarea name="additional-message" class="form-control" id="additional-message" rows="1" ng-model="upload_asset.message"> </textarea>
                </div>
                <div class="form-group">
                    <button ng-disabled="!myForm.$valid || !hasOwner()" ng-click="uploadPic(picFile)"
                            class="btn btn-default">
                        Push Certificate Hash to the Blockchain!
                    </button>
                </div>
            </form>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>The Hash</h3>
                    <p>Your file will <strong>NEVER </strong>leave your PC (you can check the javascript of this page if
                        you want).</p>
                    <p>A unique number, the "hash" of your document will be calculated inside the browser. If your
                        document is modified (e.g. just a single bit is changed) the Hash will be different. The Hash is
                        unique for your document.</p>
                    <p>Only this Hash will be uploaded to the Blockchain - not the content of your document</p>
                    <h3>Push to the Blockchain</h3>
                    <p>When pressing the Button, the Hash will be calculated and uploaded to the Blockchain together with the other information your provided.</p>
                    <p>The transaction will be signed by our private key. So everybody can prove that YOUR uploaded this file.</p>
                    <p>Note: This will take some time - because the transaction must be integrated into the Blockchain by the Miners.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="assets-upload-info">
    <div class="row">
    
        <div class="col-sm-6">
            <div ng-if="status>0">
                <h3>Uploading Status</h3>                                                       
                <div class="panel_green ">
                    <div class="panel-body">
                        <h4>{{timer_count}}sec</h4>
                        <p><strong>{{status_text}}</strong></p>
                        <div ng-show="status===4">
                                <table>
                                    <tr ng-repeat="hash in hashes">
                                        <td>{{ hash.description}}</td>
                                        <td>{{ hash.create_date }}</td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="status<0">
                <h3>Uploading Status</h3>
                <div class="panel_red ">
                    <div class="panel-body">
                        <h4>ERROR</h4>
                        <p><strong>{{status_text}}</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div ng-if="status===4">
                <div class="panel panel-default">                                                                                           
                    <div class="panel-body">
                        <h3>It's now on the Blockchain.</h3>
                        <p>Your data is stored in a "Smart Contract". You can check your data in the the Blockchain explorer:</p>
                        <p>Everybody can READ from this smart contract and has access to the Hashes that are stored there.</p>
                        <p>Because only you can write data to the Blockchain with your Public Address - the Hash of the documents must have been uploaded by the Certicate Owner</p>
                        <h3>Do it again</h3>
                        <p>You can do it for all certificate you are issuing, just upload another file and maybe update the message text.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>